---
layout: single
---

{% for mentor in site.data.mentor %}
{% assign home = '/Mentor/' | append: mentor.name | absolute_url %}
{% assign img_path = "/assets/images/avatar.png" %}
{% if mentor.avatar %}
  {% assign img_path = mentor.avatar | prepend: '/assets/images/mentor/' %}
{% endif %}
<a href="{{ home }}" style="color: inherit; text-decoration: none;">
<div class="profile">
  <table cellspacing="0" cellpadding="0" style="border: none;">
    <tr>
      <td width="120" valign="top" style="padding-right: 15px;">
        <img src="{{ img_path }}" style="width: 100px;" alt="{{ mentor.name }}" style="display:block;">
      </td>
      <td valign="top">
        <a href="{{ home }}">
          <p><strong style="font-size: 16px;">{{ mentor.name }}</strong></p>
        </a>
        <p><strong>멘토링 분야:</strong> {{ mentor.field }}</p>
        <p><strong>학번:</strong> {{ mentor.year | truncate: 4, "" | append: "****" }}</p>
        <p><strong>소개:</strong></p>
        <ul>
          {% assign bio = mentor.bio | split: '/' %}
          {% for line in bio %}
            <li>{{ line | strip }}</li>
          {% endfor %}
        </ul>
        <!-- <p><strong>자기소개:</strong></p> {{ mentor.description | markdownify }} -->
      </td>
    </tr>
  </table>
</div>
</a>
{% endfor %}
