---
layout: single
---
{% assign name = page.name | split: "." | first %}
{% assign mentor = site.data.mentor | where: "name", name | first %}
{% assign home = '/Mentor/' | append: mentor.name | absolute_url %}
{% assign img_path = "/assets/images/avatar.png" %}
{% if mentor.avatar %}
  {% assign img_path = mentor.avatar | prepend: '/assets/images/mentor/' %}
{% endif %}

<div class="profile">

  <table cellspacing="0" cellpadding="0" style="border: none;">
    <tr>
      <td width="240" valign="top" style="padding-right: 15px;">
        <a href="{{ home }}">
          <img src="{{ img_path }}" width="200" height="200" alt="{{ mentor.name }}" style="display:block;">
        </a>
        
        <ul>
            {% if mentor.phone %}
                <li>
                <a href="tel:{{ mentor.phone }}" rel="me" class="u-email">
                    <meta itemprop="phone" content="{{ mentor.phone }}" />
                    <i class="fas fa-fw fa-phone-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].phone_label | default: "Phone" }}</span>
                </a><br>
                {{ mentor.phone }}
                </li>
            {% endif %}
            {% if mentor.email %}
                <li>
                <a href="mailto:{{ mentor.email }}" rel="me" class="u-email">
                    <meta itemprop="email" content="{{ mentor.email }}" />
                    <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
                </a><br>
                {{ mentor.email }}
                </li>
            {% endif %}
            {% if site.data.value.mentor_application_link %}
              <button onclick="location.href='{{ site.data.value.mentor_application_link }}'">신청하기</button>
            {% endif %}
        </ul>
      </td>
      <td valign="top">
        <a href="{{ home }}">
        <p><strong style="font-size: 16px;">{{ mentor.name }}</strong></p>
        </a>
        <p><strong>멘토링 분야:</strong> {{ mentor.field }}</p>
        <p><strong>학번:</strong> {{ mentor.year | truncate: 4, "" | append: "****" }}</p>
        <p><strong>소개:</strong></p>
        <ul>
          {% assign bio = mentor.bio | split: '/' %}
          {% for line in bio %}
            <li>{{ line | strip }}</li>
          {% endfor %}
        </ul>
        <p><strong>자기소개:</strong></p> {{ mentor.description | markdownify }}

      </td>
    </tr>
  </table>

</div>