---
layout: single
---
{% assign name = page.name | split: "." | first %}
{% assign mentorship = site.data.mentorship | where: "name", name | first %}
{% assign home = '/members/' | append: mentorship.name | absolute_url %}

<div class="profile">

  <table cellspacing="0" cellpadding="0" style="border: none;">
    <tr>
      <td width="240" valign="top" style="padding-right: 15px;">
        <a href="{{ home }}">
        <img src="{{ mentorship.avatar | relative_url | default: '/assets/images/avatar.png' }}" width="200" height="200" alt="{{ mentorship.name }}" style="display:block;">
        </a>
        
        <ul>
            {% if mentorship.phone %}
                <li>
                <a href="tel:{{ mentorship.phone }}" rel="me" class="u-email">
                    <meta itemprop="phone" content="{{ mentorship.phone }}" />
                    <i class="fas fa-fw fa-phone-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].phone_label | default: "Phone" }}</span>
                </a><br>
                {{ mentorship.phone }}
                </li>
            {% endif %}
            {% if mentorship.email %}
                <li>
                <a href="mailto:{{ mentorship.email }}" rel="me" class="u-email">
                    <meta itemprop="email" content="{{ mentorship.email }}" />
                    <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
                </a><br>
                {{ mentorship.email }}
                </li>
            {% endif %}
        </ul>
      </td>
      <td valign="top">
        <a href="{{ home }}">
        <p><strong style="font-size: 16px;">{{ mentorship.name }}</strong></p>
        </a>
        <p><strong>멘토링 분야:</strong> {{ mentorship.field }}</p>
        <p><strong>학번:</strong> {{ mentorship.year | truncate: 4, "" | append: "****" }}</p>
        <p><strong>소개:</strong></p>
        <ul>
          {% assign bio = mentorship.bio | split: '/' %}
          {% for line in bio %}
            <li>{{ line | strip }}</li>
          {% endfor %}
        </ul>
        <p><strong>자기소개:</strong></p> {{ mentorship.description | markdownify }}

      </td>
    </tr>
  </table>

</div>